.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 2px solid #f1f1f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo-landing {
    height: 80px;
    position: relative;
    left: 10%;
  }
   
  .navigation li {
    margin: 0 20px;
    font-size: large;
  }

  .navigation li a:hover {
    color: #005f46;
    text-decoration: underline;
  }
  
  /* Welcome message styling */
  .navigation li a.welcome {
    font-style: italic;
    color: #4CAF50;
  }
  
  /* Logout button */
  .navigation li a.logout {
    color: #FF5733;
    font-weight: bold;
  }
  
  .navigation li a.logout:hover {
    color: #C70039;
  }