/* Header and logo styling */
.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 20px;
  border-bottom: 2px solid #f1f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-landing {
  height: 80px;
  position: relative;
  left: 10%;
}

/* Navigation items styling */
.navigation li {
  margin: 0 20px;
  font-size: large;
}

.navigation li a {
  text-decoration: none;
  color: #017143;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navigation li a:hover {
  background-color: #e8f5e9;
  color: #005f46;
  text-decoration: underline;
}

/* Dropdown menu styling */
.user-dropdown {
  position: relative;
  display: inline-block;
}

.welcome-text {
  cursor: pointer;
  color: #017143;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.welcome-text:hover {
  background-color: #e8f5e9;
  text-decoration: underline;
}

/* Dropdown menu items */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 150px;
  right: 0;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
}

.user-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  color: #017143;
  transition: background-color 0.3s ease;
  font-weight: bold;
  border-radius: 5px;
}

.dropdown-menu li:hover {
  background-color: #e8f5e9;
  color: #005f46;
}

/* Style for the Logout button */
.dropdown-menu li.logout {
  color: #FF5733;
}

.dropdown-menu li.logout:hover {
  background-color: #fce4ec;
  color: #C70039;
}

