.header-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 20px;
    border-bottom: 2px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px 12px 0 0;
  }
  
  .navigate-button {
    padding: 10px 20px;
    background-color: #00704A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.navigate-button:hover {
    background-color: #00593C;
}

.order-summary {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    font-family: 'Arial', sans-serif;
}

.order-summary h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.order-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

.order-item h3 {
    color: #555;
    margin-bottom: 10px;
}

.order-item p {
    margin: 5px 0;
    color: #666;
}

.order-products {
    margin-top: 15px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-image {
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-details p {
    margin: 3px 0;
    color: #444;
    font-size: 14px;
}

@media (max-width: 600px) {
    .order-summary {
        padding: 15px;
        max-width: 100%;
    }

    .product-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-image {
        margin-bottom: 10px;
    }
}
