
.container-profile {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.profile-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    width: 100px;
    font-weight: bold;
    color: #555;
    text-align: left;
    margin-right: 10px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.buttons button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-btn {
    background-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s ease;
}

.update-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #f44336;
    color: #fff;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #e53935;
}

.static-field {
    display: inline-block;
    text-align: left;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 110px); /* Adjusts for label width and spacing */
}

.back-button {
    margin-top: 20px;
    text-align: center;
}

.back-btn {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #00704a;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #005e3e;
}
